<div>
  <h1> <i class="fas fa-laptop-code"></i> My Projects</h1>

  <h5>
    My First Project:
  </h5>

  <p>
    While i was learning at John Bryce my project was to create an end to end
    application, Using technologies we learnt throughout the course, The project
    was about creating a Website that manages and handles coupons purchases and
    creation (By the company representives), The project was written with Java
    (Spring-Boot), as a Back-end language, and with Angular, as a Front-end
    language. The project i submitted got a grade of 100, This gave me the
    motivation to keep studing and developing, even after the course.
    <br>
    The source code for this project can be found 
    <a href="https://github.com/Nil9711/couponsProject">here!</a>
  </p>

  <h5>
    My Second Project:
  </h5>

  <p>
    After my Full-Stack development course i kept learning using udemy online
    courses, i studied MongoDB, NodeJS, and express, this helped me create a
    full MEAN-Stack application!
    <br />
    I created a website for a photographer's Career portfolio, I used this
    project to keep practicing and learning new technologies, After i created
    this website i wanted to learn and experience working with AWS, so i
    uploaded this entire application to the internet using AWS-Services.
    <br />
    As of now you can find this project online at
    <a href="http://ofirleephotography.com">ofirleephotography.com</a>
  </p>

  <h5>
    More of my work:
  </h5>

  <p>
    I continue to work on new projects every day, The source code for this page is right over
    <a href="https://github.com/Nil9711/couponsProject">here!</a>
  </p>
  
  Developing 
  <span nowrap class="spinner-border spinner-border-sm" role="status"> </span>

  <p>
    As of now , My goal is to keep making progress as a young developer, i keep
    studying on a daily-basis, And making new projects!
  </p>
</div>
