<div>

  <h1>About me: </h1>

  <h5>

    Education:

  </h5>

  <p>
    After my IDF service I took the one-year comprehensive programming degree course at the John Bryce College. This is
    a 585-hour course, where I studied and practiced the following subjects:
    Object Oriented Programming, Java Programming Language, Angular, MySQL, HTML and CSS, Java Script, HTML, AJAX, Java
    Web Development and Servlets, Web Services, Spring, Design Patterns, Advanced Java and Android Intro.
    I have developed a final project that incorporated my knowledge of the above subjects, using client and server-side
    technologies, the final grade for this project is 100.

  </p>

  <h5>

    More about me:
  </h5>

  <p>
    Excellent speaking and writing English and Hebrew. Communication studies high school education (4 units Math, 5
    units English).
    Motivated and hardworking, very organized, effective and outgoing. Collaborative team member, reliable and punctual.
  </p>

  <h5>

    Millitary Service:
  </h5>

  <p>
    2014-2017 - I served in a missile boat as a weapon specialist, after the training I received a certificate of merit,
    a year into my service I was assigned to lead a team of 12-15 soldiers. The role required good social skills, good
    work ethics, and capability to work under pressure.
  </p>

  <h4>The present and the future....</h4>

  <p>
    As of now , My goal is to keep making progress as a young developer, i keep studying on a daily-basis,
    And making new projects!
  </p>

  <h4>Ways to contact me:</h4>

  <p>
    Fell free to contact me anytime!
     <br>

    You can find me on: Nil9711@gmail.com
    <br>
    Or My Phone: 054-6437537.

  </p>


</div>
